html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #FEFBF6 !important;
}

article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: #504E76;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

footer {
    width: 100%;
    background-color: #504E76;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.flourish-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.flourish-container .flourish-embed {
    flex: 1 1 10%;
    min-width: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C4C3E3;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #C4C3E3;
}

a {
    color: #504E76 !important;
}

.home-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #C4C3E3;
    color: #504E76;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}