html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #8ea2fb;
    color: #000000;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 20px;
    padding: 20px;
    align-items: start; /* Les cartes prennent la hauteur de leur contenu */
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding : 20px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8ea2fb;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}